@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: blueviolet;
}

input {
    width: 300px;
    height: 10px;
    border-radius: 8px;
    padding: 13px;
    font-size: 14px;
    border: none;
    outline: none;
}

mat-icon {
    font-size: 23px !important;
    vertical-align: middle;
    margin-left: 8px;
}

main {
    display: flex;
    width: 89vw;
    margin: 0 auto;
    margin-top: 40px; 
    flex-wrap: wrap;
    gap: 49px;
}

.barra {
    border: 1px solid  blueviolet;
}

h4 {
    color: white;
    margin-left: 8%;
    margin-top: 10px;
}

h3 {
    color: white;
    margin-left: 8%;
    margin-top: 10px;
}

.content {
    width: 200px;
    height: auto;
}
/* hover */

.content:hover  h3 {
    margin-top: 20px;
    transition: calc(0.8s);
}

img:hover {
    box-shadow: 1px 0.6px 10px  blueviolet;
    transform: scale(1.1);
    transition: calc(0.8s);
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    color: #eeecec;
    font-weight: 800;
    font-family: 'Grandstander', cursive;
    position: relative;
    cursor: default;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

h1:focus:after,
h1:hover:after {
  width: 100%;
  left: 0%;
}

h1:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}